html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: border-box;
}
.octodex {
  display:flex;
  justify-content: center;
  align-items: center; 
}

.octocat img {
  border: 1px solid #E3E0DC;
}

.octocat > a img {
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
} 

li {
  list-style: none;
}

.image-number::before {
  content: "#";
  font-size: 9px;
}

.image-caption {
  display: flex;
  flex-direction: row-reverse;
  width: 140px;
  border-bottom: 1px solid #E3E0DC;
}

.image-caption > a {
  font-weight: 900;
  border-bottom: 1px #E3E0DC;
}

.image-caption > span, a {
  display: flex;
  font-size: 9px;
  color: #333;
  text-decoration: none;
}

.authors li {
  display: flex;
}

.authors img {
  display: flex;
  height: 15px;
  width: 15px;
}

.image-footer {
  display: flex;
  justify-content: space-between;
}

.image-footer .image-number {
  font-size: 9px;
  color: #E3E0DC;
}