html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: border-box;
}
.octodex {
  display:flex;
  
}

.octocat img {
  border: 1px solid lightgrey;
}

.octocat > a img {
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 5px;
} 

li {
  list-style: none;
}

.image-number::before {
  content: "#";
  font-size: 9px;
}

.image-caption {
  display: flex;
  width: 100px;
}

.image-caption > a {
  font-weight: 900;
}

.image-caption > span, a {
  display: flex;
  font-size: 11px;
  color: #333;
  text-decoration: none;
}

.authors li {
  display: flex;

}

.authors li img {
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
}

.image-footer {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgrey;
}

.image-footer .image-number img {
  font-size: 9px;
  color: lightgrey;
}